<div class="container-fluid">
  <!-- <div class="row" style="padding: 20px">
    <div class="col-sm-12 btn btn-success">
      Use Bootstrap carousel in Angular 8 Project
    </div>
  </div> -->
  <div class="col-12">
    <ngb-carousel>
      <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image1.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image2.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image3.jpg" alt="Random fourth slide" />
        </div>
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template> -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image5.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>Sign up now and enjoy falt 50% off on your first order!</h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image6.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>All Baby Products at One Place!</h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image7.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>All kids wear starting at ₹ 299. Great Savings.Every Day.</h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/images/image8.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
          <h3>
            Get advice and suggestions from known Pediatricians every
            fortnight!.
          </h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
