<div class="container">
  <table class="table table-dark info_table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sanjay Keshwar</td>
        <td>+91 123</td>
        <td>sanjay@ecomm.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Savitri Khyadad</td>
        <td>+91 234</td>
        <td>savitri@ecomm.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Sumer Singh</td>
        <td>+91 345</td>
        <td>sumer@ecomm.com</td>
      </tr>
    </tbody>
  </table>
</div>
