<div class="con">
  <nav class="navbar fixed navbar-expand-lg navbar-dark bg-light">
    <!-- <mat-icon aria-label="Example home icon">child_care</mat-icon> -->
    <img src="../assets/images/Logo.png" class="logo" />
    <a class="navbar-brand" routerLink="home">Baby's World</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: navbarOpen }"
      id="navbarNavAltMarkup"
    >
      <span class="spacer"></span>
      <div class="navbar-nav">
        <!-- <img src="../assets/images/home.png" class="icon" /> -->
        <a
          class="nav-item nav-link"
          [routerLinkActive]="['active']"
          routerLink=""
          >Home</a
        >
        <a
          class="nav-item nav-link"
          [routerLinkActive]="['active']"
          routerLink="about"
          >About</a
        >
        <!-- <a
          class="nav-item nav-link"
          [routerLinkActive]="['active']"
          routerLink="home"
          >Products</a
        > -->
        <a
          class="nav-item nav-link"
          [routerLinkActive]="['active']"
          routerLink="contact"
          >Contact Us</a
        >
      </div>
      <span class="spacer"></span>
      <div class="navbar-nav">
        <div class="navbar-nav">
          <a
            class="nav-item nav-link"
            routerLink="products"
            *ngIf="this.val != null"
            >Products</a
          >
          <a class="nav-item nav-link" routerLink="login">Login</a>
          <a class="nav-item nav-link" routerLink="signup">Sign Up</a>
          <a
            class="nav-item nav-link"
            routerLink="cart"
            *ngIf="this.val != null"
            >Cart</a
          >
          <a
            class="nav-item nav-link"
            routerLink=""
            (click)="onLogout()"
            *ngIf="this.val != null"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </nav>
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
  <!-- <app-carousel></app-carousel> -->
</div>
