.container {
  height: 100%;
}

.card-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  border: 2px solid rgb(0, 202, 27);
  background-color: whitesmoke;
}

.card_image {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}