<div class="container">
  <!-- <p class="content">login works!</p> -->
  <div class="container">
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit()">
      <input
        type="text"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
        [pattern]="emailRegex"
      />
      <div *ngIf="signUpForm.submitted && email == undefined">
        <label
          *ngIf="signUpForm.submitted && email == undefined"
          class="validation-message"
          >This field is required.</label
        >
      </div>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        minlength="7"
        required
      />
      <div *ngIf="signUpForm.submitted && password == undefined">
        <label
          *ngIf="signUpForm.submitted && password == undefined"
          class="validation-message"
          >This field is required.</label
        >
      </div>
      <input type="submit" value="Login" />
    </form>

    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">Saved successfully</div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{ serverErrorMessages }}
    </div>
  </div>
</div>
