<div>
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">All Baby Products at One Place!</h5>
            <p class="card-text">
              We offer a wide range of baby products.<br />
              Sign up now and enjoy falt 50% off on your first order!
              <span>Hurry Up!</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Offers You Can't Refuse!!</h5>
            <p class="card-text">
              Sign up now and get the premium memebership to avail the best
              offers!<br />
              Now Live! 40-70% off on all products.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Fresh Styles at Great Prices</h5>
            <p class="card-text">
              All kids wear starting at &#8377; 299.<br />
              Great Savings.Every Day.Sign up now to get notifications of
              lightning deals daily!.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">Advice by Pediatricians</h5>
            <p class="card-text">
              Get advice and suggestions from known Pediatricians every
              fortnight!.<br />
              Get your account now and experience the best online service!.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container-fluid mt-5">
      <div class="card mx-5">
        <div class="row mb-4">
          <div class="col-md-4 col-sm-11 col-xs-11">
            <div class="footer-text pull-left">
              <div class="d-flex">
                <h1 style="color: #f2f1f7">Baby's World</h1>
              </div>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi non pariatur numquam animi nam at impedit odit nisi.
              </p>
              <div class="social mt-2 mb-3">
                <!-- <i class="fa fa-facebook-official fa-lg"></i> -->
                <img src="../assets/images/facebook.svg" alt="facebook" />
                <!-- <i class="fa fa-instagram fa-lg"></i> -->
                <img src="../assets/images/instagram.svg" alt="instagram" />
                <!-- <i class="fa fa-twitter fa-lg"></i> -->
                <img src="../assets/images/twitter.svg" alt="twitter" />
                <!-- <i class="fa fa-linkedin-square fa-lg"></i> -->
                <img src="../assets/images/linkedin.svg" alt="linkedin" />
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <h5 class="heading">Team</h5>
            <ul>
              <li>Sanjay Keshwar</li>
              <li>Savitri Khyadad</li>
              <li>Sumer Singh</li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <h5 class="heading">Company</h5>
            <ul class="card-text">
              <li>About Us</li>
              <li>Blog</li>
              <li>Join Us</li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <h5 class="heading">Contact</h5>
            <ul class="card-text">
              <li>
                <img src="../assets/images/map-pin.svg" alt="address" />Hubballi
              </li>
              <li>
                <img src="../assets/images/phone.svg" alt="contact" />085-234567
              </li>
              <li>
                <img src="../assets/images/mail.svg" alt="mail" />bw@gmail.com
              </li>
            </ul>
          </div>
        </div>
        <div class="divider mb-4"></div>
        <!-- <div class="row" style="font-size: 10px">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="pull-left">
              <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="pull-right mr-4 d-flex policy">
              <div>Terms of Use</div>
              <div>Privacy Policy</div>
              <div>Cookie Policy</div>
            </div>
          </div>
        </div> -->
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="pull-right mr-2 d-inline-flex policy">
            <div>Terms of Use</div>
            <div>Privacy Policy</div>
            <div>Cookie Policy</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
